<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.directory.regions.mapper.RegionMapper">

    <update id="updateRegion">
        update regions
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="shortName != null">shortName=#{shortNmae},</if>
        </set>
        where id=#{id}
    </update>

</mapper>